body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@font-face {
  font-family: "MiSans";
  src: local("MiSans"),
   url("./font/MiSans-Regular.ttf") format("truetype");
  font-weight:initial;
  }
@font-face {
  font-family: "MiSansBold";
  src: local("MiSansBold"),
   url("./font/MiSans-Bold.ttf") format("truetype");
  font-weight: bold;
  }
@font-face {
  font-family: "MiSansLight";
  src: local("MiSansLight"),
   url("./font/MiSans-Light.ttf") format("truetype");
  font-weight: light;
  }